addict==2.4.0
geomstats==2.2.2
giotto-tda==0.4.0
matplotlib==3.4.1
matplotlib-inline==0.1.2
MKLpy==0.6
mpmath==1.2.1
numpy==1.20.2
open3d==0.12.0
openml==0.12.1
pandas==1.2.4
Pillow==8.2.0
plotly==4.14.3
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
sklearn==0.0
svg.path==4.1
tqdm==4.60.0
trimesh==3.9.15
